body{
    background-color: var(--fund-body);
    overflow-x: hidden;
}
.line-one{
    background-color: var(--fund-block);
    padding: 15px;
}
.line-one-column-two{
    text-align: right;
}
.line-two{
    margin-left: 15px;
}
.line-two-column-one-title, .line-two-column-two-title, .line-two-column-three-title{
    font-size: 26px;
    font-weight: bold;
    margin-right: 15px;
    padding: 10px 0px;
    font-family: var(--font-primary);
}
.line-two-column-one, .line-two-column-two, .line-two-column-three{
    background-color: var(--fund-block);
    margin-right: 15px;
    padding-top: 10px;
    border-radius: 5px;
    height: 480px;
}
#form{
    width: 278px;
    background-color: var(--fund-form);
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 22px;
    box-shadow: -5px 5px 5px var(--fund-shade);
    border-radius: 5px;
    display: none;
}
#form .form-task{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 7px;
    font-family: var(--font-primary);
}
#form .form-title, .form-responsible, .form-description, .form-term{
    font-weight: 500;
}
#form #description{
    height: 150px;
}
.container-task{
    background-color: var(--fund-form);
    border: 2px dashed #afafaf;
    border-radius: 5px;
    margin: 7px;
    padding: 10px;
    cursor: pointer;
}
.container-task:hover{
    padding: 10.3px;
    box-shadow: 5px 5px 5px #b6b6b644;
}
.container-task-title{
    font-size: 15px;
    font-weight: bold;
}
.container-task-person, .container-task-detail, .container-task-deadline{
    font-size: var(--size-font);
}
.container-task-label{
    font-weight: 600;
}
#preload{
    display: none;
}